<mat-tab-group>
    <mat-tab [label]="'PAGES.ADDONS.MY_ADDONS' | translate">
        <mat-table [dataSource]="installed$ | async" class="test-class">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Addon</mat-header-cell>
                <mat-cell *matCellDef="let addon"> {{ addon.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let addon">
                    <div class="actions-wrapper" *ngIf="!addon.beingProcessed; else addonProcessed">
                        <button mat-flat-button color="accent" *ngIf="addon.needsUpdate">Update</button>
                        <button mat-stroked-button color="primary"
                        *ngIf="addon.status == addonStatus.ENABLED"
                        (click)="onDisableClicked(addon)">
                            Disable
                        </button>
                        <button mat-stroked-button color="primary"
                        *ngIf="addon.status == addonStatus.DISABLED"
                        (click)="onEnableClicked(addon)">
                            Enable
                        </button>
                        <button mat-stroked-button color="warn" (click)="onUninstallClicked(addon)">Remove</button>
                    </div>
                    <ng-template #addonProcessed>
                        <span>Working on it...</span>
                    </ng-template>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="latestVersion">
                <mat-header-cell *matHeaderCellDef>Latest Version</mat-header-cell>
                <mat-cell *matCellDef="let addon"> 
                    {{ addon.latestVersion }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="author">
                <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
                <mat-cell *matCellDef="let addon">
                    <span *ngFor="let author of addon.autors">
                        {{ author }}
                    </span>
                </mat-cell>
            </ng-container>

            <mat-header-row mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
        </mat-table>
    </mat-tab>
    <mat-tab [label]="'PAGES.ADDONS.GET_MORE_ADDONS' | translate">
        <mat-table [dataSource]="available$ | async" class="test-class">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Addon</mat-header-cell>
                <mat-cell *matCellDef="let addon"> {{ addon.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let addon"> 
                    <button mat-stroked-button color="primary" (click)="onInstallClicked(addon)">Install</button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="latestVersion">
                <mat-header-cell *matHeaderCellDef>Latest Version</mat-header-cell>
                <mat-cell *matCellDef="let addon"> 
                    {{ addon.latestVersion }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="author">
                <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
                <mat-cell *matCellDef="let addon"> 
                    <span *ngFor="let author of addon.autors">
                        {{ author }}
                    </span>
                </mat-cell>
            </ng-container>

            <mat-header-row mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
        </mat-table>
    </mat-tab>
</mat-tab-group>
