<mat-tab-group 
    [selectedIndex]="selectedIndex"
    (selectedIndexChange)="selectedIndex = $event">
    <mat-tab [label]="'PAGES.ADDONS.MY_ADDONS' | translate">
        <app-addons-table 
            *ngIf="haveAddonsInstalled$ | async; else noAddonsBlock" 
            [addons]="installed$ | async">
        </app-addons-table>
    </mat-tab>
    <mat-tab [label]="'PAGES.ADDONS.GET_MORE_ADDONS' | translate">
        <app-addons-table [addons]="available$ | async"></app-addons-table>
    </mat-tab>
</mat-tab-group>

<ng-template #noAddonsBlock>
    <div id="no-addons-banner">
        <p class="mat-h2">
            You do not appear to have any addons installed.
        </p>    
        <button mat-raised-button color="primary" (click)="selectedIndex = 2">
            Get addons
        </button>
    </div>
</ng-template>
