:host {
    display: flex;

    #menus-container {
        color: var(--app-font-gray);
    }

    #outside-links {
        margin-left: 2em;

        a {
            text-decoration: none;
            margin: 0;
            min-width: 64px;
            line-height: 36px;
            padding: 0 8px;
            color: #29acc1;

            &:not(:last-child) {
                border-right: 1px solid var(--app-font-gray);
            }
        }
    }

}