<div id="menus-container">
    <span>{{ 'COMPONENTS.MENU.OPTIONS' | translate }}</span>
    <select (change)="onLanguageChange($event)">
        <option value="-1">{{ 'COMPONENTS.MENU.LANGUAGE' | translate }}</option>
        <option *ngFor="let locale of locales$ | async" [value]="locale.value">
            {{ locale.titleKey | translate}}
        </option>
    </select>
</div>
<div id="outside-links">
    <a target="_blank" 
    [title]="'COMPONENTS.MENU.WIKI_TOOLTIP' | translate"
    href="https://github.com/fmmmlee/GW2-Addon-Manager/wiki">
        WIKI
    </a>
    
    <a target="_blank" 
    [title]="'COMPONENTS.MENU.COMPANIONS_TOOLTIP' | translate"
    href="https://github.com/fmmmlee/GW2-Addon-Manager/wiki/Other-Useful-Programs">
        {{ 'COMPONENTS.MENU.COMPANIONS' | translate }}
    </a>
</div>
