:root {
  --app-right-margin: 10%;
  --app-left-margin: 2%;
  --app-font-gray: rgb(105, 105, 105)
}


/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body {
  
  width: 100%;
  height: 100%;

  display: block;
  position: absolute;

  background-color: purple;

  background: url('/assets/background.png') no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */

    padding-top: 4%;
}



// router-outlet + * {
//   grid-column: 2;
//   grid-row: 2;
// }
