@import 'theme-config.scss';

:root {
  --app-right-margin: 10%;
  --app-left-margin: 2%;
  --app-top-margin: 4%;
  --app-font-gray: rgb(105, 105, 105);
  --app-color-primary: #29ADC1;
  --app-color-accent: #C13D29;
}



/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  display: block;
  position: absolute;

  background: url('/assets/background.png') no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */

  padding-top: var(--app-top-margin);
  color: var(--app-font-gray);
}